In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps 
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing 
%matplotlib inline

In [2]:
%%time
data = pd.read_csv('NYP_45_var_new.csv')

CPU times: user 20.9 s, sys: 1.84 s, total: 22.7 s
Wall time: 24.2 s

# Z scale

In [3]:
normalized_data = (data - data.mean()) / data.std()

In [4]:
normalized_data.head()

,Unnamed: 0,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,-1.732048,-0.105677,-0.065175,-0.075661,-0.059280,-0.059319,-0.052279,-0.033151,-0.048031,-0.087187,...,-0.015316,-0.038980,-0.047118,-0.061530,-0.014216,-0.002341,-0.010709,-0.013452,0.000891,-0.014731
1,-1.732045,7.674876,3.808092,6.643730,3.571324,0.299853,0.131637,0.040634,0.128146,-0.059992,...,-0.007127,2.470297,0.109049,-0.052428,4.843146,0.022929,-0.009394,7.794866,0.152355,-0.005366
2,-1.732042,-0.020508,-0.022777,-0.002107,-0.019538,-0.037648,-0.041182,-0.028699,-0.037401,-0.032036,...,0.001292,-0.011512,-0.037695,-0.043071,0.278469,0.016766,0.006757,0.072021,0.010029,0.004262
3,-1.732039,-0.086861,-0.055809,-0.059411,-0.050501,0.107919,0.033356,0.001205,0.034001,0.190108,...,0.068188,-0.032912,0.025597,0.031280,0.073563,0.086219,0.078974,0.005430,0.071416,0.080768
4,-1.732035,0.136536,0.055402,0.133518,0.053742,13.480460,6.880813,2.748321,6.593354,35.908784,...,10.824498,0.039135,5.839902,11.986247,0.932329,7.250555,13.209501,0.229625,5.710659,12.382156

In [5]:
normalized_data.drop('Unnamed: 0',axis=1, inplace=True)
normalized_data.head()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,-0.105677,-0.065175,-0.075661,-0.059280,-0.059319,-0.052279,-0.033151,-0.048031,-0.087187,-0.060849,...,-0.015316,-0.038980,-0.047118,-0.061530,-0.014216,-0.002341,-0.010709,-0.013452,0.000891,-0.014731
1,7.674876,3.808092,6.643730,3.571324,0.299853,0.131637,0.040634,0.128146,-0.059992,-0.043690,...,-0.007127,2.470297,0.109049,-0.052428,4.843146,0.022929,-0.009394,7.794866,0.152355,-0.005366
2,-0.020508,-0.022777,-0.002107,-0.019538,-0.037648,-0.041182,-0.028699,-0.037401,-0.032036,-0.026052,...,0.001292,-0.011512,-0.037695,-0.043071,0.278469,0.016766,0.006757,0.072021,0.010029,0.004262
3,-0.086861,-0.055809,-0.059411,-0.050501,0.107919,0.033356,0.001205,0.034001,0.190108,0.114108,...,0.068188,-0.032912,0.025597,0.031280,0.073563,0.086219,0.078974,0.005430,0.071416,0.080768
4,0.136536,0.055402,0.133518,0.053742,13.480460,6.880813,2.748321,6.593354,35.908784,22.650495,...,10.824498,0.039135,5.839902,11.986247,0.932329,7.250555,13.209501,0.229625,5.710659,12.382156

In [6]:
normalized_data.describe()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,-5.312210e-15,-7.926859e-16,-7.110103e-15,-1.341687e-14,-1.604592e-15,2.788995e-15,-1.079869e-15,1.072267e-14,4.247027e-15,3.259232e-15,...,-8.167541e-16,-2.225430e-15,2.126662e-15,7.970515e-16,3.418994e-16,2.174928e-15,-1.624877e-15,-4.975484e-18,2.827740e-15,1.171764e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.214544e-01,-7.302943e-02,-8.928619e-02,-6.664267e-02,-1.039033e-01,-7.510791e-02,-4.230965e-02,-6.989983e-02,-9.056262e-02,-6.297871e-02,...,-1.633301e-02,-4.406825e-02,-6.650256e-02,-6.265996e-02,-4.064505e-02,-1.292932e-02,-1.125919e-02,-2.928619e-02,-1.791046e-02,-1.589397e-02
25%,-7.300198e-02,-5.902772e-02,-6.025688e-02,-5.399388e-02,-6.830279e-02,-5.044601e-02,-2.520251e-02,-4.675088e-02,-6.262496e-02,-4.528259e-02,...,-1.231796e-02,-3.480139e-02,-4.499532e-02,-4.565597e-02,-3.303949e-02,-1.113947e-02,-1.011829e-02,-2.469017e-02,-1.374171e-02,-1.220239e-02
50%,-1.513737e-02,-2.378862e-02,-3.187404e-02,-3.683987e-02,-1.490606e-02,-1.245544e-02,-1.128241e-02,-1.198596e-02,-1.702992e-02,-1.172372e-02,...,-9.391308e-03,-2.514103e-02,-1.170400e-02,-9.139694e-03,-2.563018e-02,-8.355278e-03,-7.249554e-03,-2.181301e-02,-1.148352e-02,-9.262789e-03
75%,2.453620e-02,7.013005e-03,2.952585e-03,-1.763342e-03,1.696453e-02,9.573656e-03,1.047321e-04,8.583233e-03,1.341057e-02,8.981209e-03,...,-6.588503e-03,-1.388607e-02,9.056398e-03,1.386417e-02,-1.687786e-02,-6.699705e-03,-5.557961e-03,-1.739874e-02,-9.299272e-03,-6.693290e-03
max,5.604526e+02,7.180732e+02,6.775540e+02,3.533062e+02,4.132212e+02,4.904027e+02,8.389386e+02,4.564404e+02,4.901224e+02,5.240291e+02,...,6.051872e+02,2.530138e+02,4.576790e+02,6.576444e+02,6.090319e+02,5.698118e+02,7.305163e+02,7.874311e+02,5.202641e+02,6.767496e+02

# PCA

In [7]:
from sklearn.decomposition import PCA

In [9]:
features = ['FULLVAL_r1', 'FULLVAL_r2', 'FULLVAL_r3', 'AVLAND_r4', 'AVLAND_r5',
       'AVLAND_r6', 'AVTOT_r7', 'AVTOT_r8', 'AVTOT_r9', 'r1_byzip5',
       'r1_byzip3', 'r1_bytaxclass', 'r1_b', 'r2_byzip5', 'r2_byzip3',
       'r2_bytaxclass', 'r2_b', 'r3_byzip5', 'r3_byzip3', 'r3_bytaxclass',
       'r3_b', 'r4_byzip5', 'r4_byzip3', 'r4_bytaxclass', 'r4_b', 'r5_byzip5',
       'r5_byzip3', 'r5_bytaxclass', 'r5_b', 'r6_byzip5', 'r6_byzip3',
       'r6_bytaxclass', 'r6_b', 'r7_byzip5', 'r7_byzip3', 'r7_bytaxclass',
       'r7_b', 'r8_byzip5', 'r8_byzip3', 'r8_bytaxclass', 'r8_b', 'r9_byzip5',
       'r9_byzip3', 'r9_bytaxclass', 'r9_b']
x = data.loc[:,features].values

In [10]:
pca = PCA(n_components = 7)
principalComponents = pca.fit_transform(normalized_data)
DF = pd.DataFrame(data = principalComponents)

In [11]:
DF.shape

(1070994, 7)

In [12]:
DF.head()

           0          1         2         3         4          5         6
0  -0.184132  -0.136739 -0.028559 -0.110849  0.032259  -0.088511 -0.045566
1   3.090708  14.817201  2.599469  1.966573 -0.932956   0.460766  3.146322
2  -0.019324   0.159909 -0.027259 -0.127145 -0.008934  -0.017863  0.014410
3   0.305716  -0.151801 -0.114506 -0.017857  0.043638   0.154272 -0.062928
4  53.141838 -10.670815 -6.087673  7.671582  7.315242  33.844139 -3.784679

In [13]:
pca.explained_variance_ratio_

array([0.5075497 , 0.22043986, 0.0705057 , 0.03901247, 0.03375162,
       0.03269504, 0.03105455])

In [14]:
sum(pca.explained_variance_ratio_)

0.935008931126639

In [15]:
finalDF = (DF-DF.mean())/DF.std()
finalDF.head()

           0         1         2         3         4          5         6
0  -0.038529 -0.043415 -0.016033 -0.083661  0.026176  -0.072971 -0.038545
1   0.646714  4.704515  1.459373  1.484233 -0.757021   0.379868  2.661548
2  -0.004043  0.050772 -0.015304 -0.095961 -0.007249  -0.014727  0.012190
3   0.063969 -0.048197 -0.064285 -0.013477  0.035409   0.127186 -0.053233
4  11.119648 -3.388022 -3.417692  5.789979  5.935743  27.902062 -3.201549

In [16]:
newDF = abs(finalDF)
newDF.head()

           0         1         2         3         4          5         6
0   0.038529  0.043415  0.016033  0.083661  0.026176   0.072971  0.038545
1   0.646714  4.704515  1.459373  1.484233  0.757021   0.379868  2.661548
2   0.004043  0.050772  0.015304  0.095961  0.007249   0.014727  0.012190
3   0.063969  0.048197  0.064285  0.013477  0.035409   0.127186  0.053233
4  11.119648  3.388022  3.417692  5.789979  5.935743  27.902062  3.201549

# Scores

In [17]:
newDF['Score1'] = newDF.transpose().sum()
newDF.head()

,0,1,2,3,4,5,6,Score1
0,0.038529,0.043415,0.016033,0.083661,0.026176,0.072971,0.038545,0.319330
1,0.646714,4.704515,1.459373,1.484233,0.757021,0.379868,2.661548,12.093272
2,0.004043,0.050772,0.015304,0.095961,0.007249,0.014727,0.012190,0.200245
3,0.063969,0.048197,0.064285,0.013477,0.035409,0.127186,0.053233,0.405757
4,11.119648,3.388022,3.417692,5.789979,5.935743,27.902062,3.201549,60.754696

In [18]:
newDF['Score2'] = pow(finalDF,2).transpose().sum()

In [19]:
newDF['Score2'] = pow(newDF['Score2'],0.5)
newDF.head()

,0,1,2,3,4,5,6,Score1,Score2
0,0.038529,0.043415,0.016033,0.083661,0.026176,0.072971,0.038545,0.319330,0.134615
1,0.646714,4.704515,1.459373,1.484233,0.757021,0.379868,2.661548,12.093272,5.889366
2,0.004043,0.050772,0.015304,0.095961,0.007249,0.014727,0.012190,0.200245,0.111601
3,0.063969,0.048197,0.064285,0.013477,0.035409,0.127186,0.053233,0.405757,0.176049
4,11.119648,3.388022,3.417692,5.789979,5.935743,27.902062,3.201549,60.754696,31.691288

In [20]:
newDF['RECORD'] = newDF.index + 1

In [21]:
newDF.sort_values('Score2',ascending = False).head()

,0,1,2,3,4,5,6,Score1,Score2,RECORD
632815,604.260405,256.220762,763.423874,124.885570,23.947765,104.043299,10.457011,1887.238685,1020.147041,632816
821852,75.955127,508.046510,91.484344,97.189165,20.504759,48.854200,570.948371,1412.982475,781.335252,821853
565391,554.361410,207.619573,384.801387,248.170959,15.024245,34.186226,21.363172,1465.526972,749.622707,565392
776305,94.655294,624.341376,105.364741,140.944564,246.846610,84.962808,70.017890,1367.133282,709.072147,776306
684703,29.919817,222.010456,77.243912,137.698472,98.453615,81.545339,582.405905,1229.277517,656.239838,684704